.divPartidos {
    padding: 2px;
    background-image: radial-gradient(circle at 9.42% 84.05%, #fbff70 0, #e2ff77 8.33%, #c7ff7f 16.67%, #abff87 25%, 
    #8dff8f 33.33%, #6cfb95 41.67%,
     #46ee9a 50%, #00e09e 58.33%, #00d4a2 66.67%, #00caa6 75%, #00c1ab 83.33%, #00bab0 91.67%, #00b4b6 100%);
     font-family: Arial, sans-serif;
     font-size: 30px;
}

.partidos {
    background-color: beige;
    padding: 55px;
    margin: 2cm auto;
    width: 50%;
    text-align: center;
}

.partidos_resultados {
    background-color: beige;
    padding: 55px;
    margin: 2cm auto;
    width: 80%;
    text-align: center;
}



.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3E8E41;
}