.columnDashboard{
    background-color: rgb(0, 0, 0);
    height: 35cm;
}

.profileAdminUser {
    margin-top: 13cm;
}

.divPartidosAdmin {
    border-radius: 10px 15px 27px 27px;
    -moz-border-radius: 10px 15px 27px 27px;
    -webkit-border-radius: 10px 15px 27px 27px;
    border: 16px ridge #000000;
    width: 100%;
    align-items: center;
    padding: 6.5%;
}

.stadistics {
    width: 40px;
    height: 250px;
    font-size: 10px;
}