.divHome {
    padding: 2px;
    background-image: radial-gradient(circle at 9.42% 84.05%, #fbff70 0, #e2ff77 8.33%, #c7ff7f 16.67%, #abff87 25%, 
    #8dff8f 33.33%, #6cfb95 41.67%,
     #46ee9a 50%, #00e09e 58.33%, #00d4a2 66.67%, #00caa6 75%, #00c1ab 83.33%, #00bab0 91.67%, #00b4b6 100%);
}

.carouselStyle {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.imgPartidos {
    width: 30%; 
}




.btn_sold:hover {
    background-color: rgb(255, 213, 213);
}

.hover-zoom {
    width: 30%;
}

.hover-zoom:hover {
    width: 40%;
}


.actuality {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    border-radius: 2%;
    padding: 4%;
    margin-bottom: 4%;
}

.actualityDivs {
    color: #fff;
    transition: all 0.3s;
    margin: 0 auto;
    background-color: #00c1ab;
    margin-bottom: 10%;
    display: flex;
    flex-flow: row wrap;
}



.actualityDivs:hover .descrNews {
    background-color: #556666;
    width: 100%;
    display: block;
}

.descrNews {
    display: none;
}

.divPartidosHome {
    border-radius: 10px 15px 27px 27px;
    -moz-border-radius: 10px 15px 27px 27px;
    -webkit-border-radius: 10px 15px 27px 27px;
    background-image: radial-gradient(circle at 9.42% 84.05%, #ffff2f 0, #ffff1b 25%, #f6f000 50%, #c1c800 75%, #93a300 100%);
    border: 16px ridge #000000;
}

.btn_sold {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

.divPrincipalPartidos {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    border-radius: 2%;
    padding: 4%;
}

/* .DescrNewHome {
    margin-top: 10%;
    font-size: 130%;
} */

@media only screen and (max-width: 760px ) {
    .divPartidosHome {
        border: 16px ridge #000000;
        width: 120%;
        align-items: center;
        padding: 6.5%;
        margin: 0 auto;
    }
    .btn_sold {
        font-size: 15px;
    }
    .DescrNewHome {
        padding: 2%;
        font-size: 100%;
    }
    

}


@media only screen and (min-width: 1200px ) {
    .divPartidosHome {
        border: 16px ridge #000000;
        width: 90%;
        align-items: center;
        padding: 6.5%;
        margin: 90px;
    }

    .divPrincipalPartidos {
        background-color: white;
    }

    .btn_sold {
        font-size: 18px;
    }

    .integrantesAvatarHome {
        width: 70%;
    }
    .DescrNewHome {
        margin-top: 10%;
        font-size: 130%;
    }
    

}