.contentProducts {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.products {
    width: 25%;
    margin: 3.5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1.5%;
    border-radius: 15px;
    border: 1px solid black;
}

.filters {
    padding: 5px;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
    position: relative;
}


.select-blue {
    background-color: #3B88C3;
    color: #FFFFFF;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 30px 10px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M10 13l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.select-yellow {
    background-color: #F0C82E;
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 30px 10px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M10 13l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn-green {
    background-color: #73B13B;
    color: #FFFFFF;
}


.btn-green:hover{
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-green:active {
    transform: translateY(1px);
    box-shadow: none;
}